<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rss xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
<channel>
  <atom:link href="http://cinemacaust.com/feed.rss" rel="self" type="application/rss+xml"/>
  <title><![CDATA[{{{podcast.title}}}]]></title>
  <description><![CDATA[{{{podcast.description}}}]]></description>
  <pubDate>{{podcast.publishDate}}</pubDate>
  <language>en</language>
  <copyright>All rights reserved</copyright>
  <link>http://thethirdreel.com</link>
  <image>
    <url>https:{{podcast.image.file.url}}</url>
    <title><![CDATA[{{{podcast.title}}}]]></title>
    <link>http://thethirdreel.com</link>
  </image>
  <itunes:subtitle><![CDATA[{{{podcast.subtitle}}}]]></itunes:subtitle>
  <itunes:owner>
    <itunes:name><![CDATA[{{{podcast.title}}}]]></itunes:name>
    <itunes:email>podcast@thethirdreel.com</itunes:email>
  </itunes:owner>
  <itunes:author>thethirdreel</itunes:author>
  <itunes:explicit>yes</itunes:explicit>
  <itunes:image href="https:{{podcast.image.file.url}}"/>
  <itunes:category text="Society &amp; Culture"/>
  {{#each episodes}}
  <item>
    <guid isPermaLink="false">{{id}}</guid>
    <title><![CDATA[{{{title}}}]]></title>
    <description><![CDATA[{{{description}}}]]></description>
    <pubDate>{{publishDate}}</pubDate>
    <enclosure type="audio/mpeg" url="{{media}}"/>
    <itunes:author>thethirdreel</itunes:author>
    <itunes:explicit>yes</itunes:explicit>
    <itunes:summary><![CDATA[{{{description}}}]]></itunes:summary>
    <itunes:subtitle><![CDATA[{{{subtitle}}}]]></itunes:subtitle>
  </item>
  {{/each}}
</channel>
</rss>
