<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
<channel>
  <atom:link href="{{podcast.website}}/feed.rss" rel="self" type="application/rss+xml"/>
  <title><![CDATA[{{{podcast.title}}}]]></title>
  <description><![CDATA[{{{podcast.description}}}]]></description>
  <pubDate>{{podcast.pubDate}}</pubDate>
  <language>en-US</language>
  <copyright>all rights reserved</copyright>
  <link>{{podcast.website}}</link>
  <image>
    <url>https:{{podcast.image.file.url}}</url>
    <title><![CDATA[{{{podcast.title}}}]]></title>
    <link>{{podcast.website}}</link>
  </image>
  <itunes:subtitle><![CDATA[{{{podcast.subtitle}}}]]></itunes:subtitle>
  <itunes:owner>
    <itunes:name><![CDATA[{{{podcast.title}}}]]></itunes:name>
    <itunes:email>{{podcast.email}}</itunes:email>
  </itunes:owner>
  <itunes:author>thethirdreel</itunes:author>
  <itunes:explicit>yes</itunes:explicit>
  <itunes:image href="https:{{podcast.image.file.url}}"/>
  <itunes:category text="TV &amp; Film"/>
  <itunes:category text="Society &amp; Culture"/>
  <itunes:category text="Arts"/>
  {{#each episodes}}
  <item>
    <guid isPermaLink="false">{{id}}</guid>
    <title><![CDATA[{{{volume.title}}}]]: <![CDATA[{{{title}}}]]>></title>
    <description><![CDATA[{{{description}}}]]></description>
    <pubDate>{{pubDate}}</pubDate>
    <enclosure type="audio/mpeg" url="{{media}}"/>
    <itunes:author>thethirdreel</itunes:author>
    <itunes:explicit>yes</itunes:explicit>
    <itunes:summary><![CDATA[{{{description}}}]]></itunes:summary>
    <itunes:subtitle><![CDATA[{{{subtitle}}}]]></itunes:subtitle>
  </item>
  {{/each}}
</channel>
</rss>
